<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-dark bg-dark">
            <div class="row">
                <div class="col-md-4">
                    <a class="nav-link" href="/privacy">Privacy</a>
                </div>
                <div class="col-md-8">
                     <a class="nav-link" href="/">tcbacon.apps@gmail.com</a>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>